
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 30px;
    width: 70%;
    margin-left: 15%;
  }
  .icon-label {
    margin-left: 1rem !important;
  }
  .containerwidth{
    width: 530px;
    margin-left: 30%;
  }